body {
  background-color: orangered;
  margin: 0;
  font-family: 'Permanent Marker';
  /* color: white; */
}

.card {
  list-style: none;
  padding: 40px;
  background-color: #f4f4f4;
  color: #222;
  text-align: center;
}

.card:hover {
  animation: bounce 0.5s linear;
  cursor: pointer;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(-0px);
  }
}

.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0;
}

.card-subtitle {
  font-weight: lighter;
  color: #666;
  margin-top: 5px;
}

.card-image {
  height: 120px;
}

#pokedex {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.container {
  padding: 40px;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
  color: black;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #f4f4f4;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}

#closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: orangered;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 3px;
  transition: transform 100ms;
  outline: none;
  /* font-family: 'Permanent Marker'; */
}

button:hover {
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 0px 1px 2px darkred;
}

/* future plan to create search into pokeball */

.mag-glass {
  width: 23px;
  margin: 18px 0 0 18px;
  position: absolute;
  cursor: pointer;
}

.enter {
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 2s;
}

/* #searchBar {
  color: black;
  font-size: 2.6em;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  border: none;
  padding: 20px;
  font-family: 'rubik';
  font-size: 20px;
  outline: none;
  cursor: pointer;
} */

#searchWrapper {
  text-align: center;
}

#searchWrapper:before {
  content: '';
  border-radius: 50%;
  width: 52px;
  height: 51px;
  border: 4px solid white;
  position: absolute;
  animation: grow 1s 5;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

input {
  /* font-family: 'rubik'; */
  width: 20px;
  height: 20px;
  padding: 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  transition: width 1.5s ease;
  /* padding-left: 60px; */
}

input:focus {
  outline: none;
}

input::placeholder {
  /* color: black; */
  font-size: 1.2em;
  /* font-family: 'rubik'; */
}

/* #searchWrapper::after {
  content: '🔍';
  position: absolute;
  top: 7px;
  right: 15px;
} */

/* .progress {
  align-items: left;
} */

/* progress:after {
  content: attr(value);
  margin-top: 55px;
} */
